@import '../../components/ChartRow/styles.scss';
@import '../../components/MultiChart/styles.scss';

.MainHeading {
    color: #b31021; 
    font-size: 3em;
    line-height: 80px;
    font-weight: bold;
}
.AppIcon {
    text-align:center;
}

.MultiChartRow {
    margin-bottom: 2em;
}
